body{
  margin:0;
  padding:0;
}
.header {
  text-align: center;
  padding: 10px;
  background-color: #fff;
}
.wrappFlex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #111;
    padding-top: 20px;
}

.wrappInner {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  background-color: #666;
  color: #ccc;
  position: relative;
  max-width: 255px;
}
.nameImgHolder{
  position: relative;
}

.nameHolder {
  background-color: #070707ba;
  overflow: hidden;
  padding: 10px;
  position: absolute;
  bottom:4px;
  min-width: 92%;
}
img{
  max-width: 100%
}
td.caracterValue {
  color: #d69c34;
}
td {
  border-bottom: 1px solid #838080;
  padding: 5px;
}